* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
/* Header styling */
#nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(204, 204, 204, 0.397);
    position: fixed;
}
#nav-bar > img {
    margin-left: 20px;
    width: 35px;
}
#nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}
#nav-link>button {
    font: 600 12px 'poppins', sans-serif;
    color: #fff;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.menu-item {
    font: 600 14px 'poppins', sans-serif;
    margin-right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    background-color: #fff;
    border-top: 2px solid rgb(170, 210, 54);
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    width: 180px;
    height: 130px;
    position: absolute;
    transform: translate(-50px, 10px);
    z-index: 1;
    display: none;
}
.dropitem{
    padding: 8px 0;
    border-bottom: 0.5px solid rgba(204, 204, 204, 0.822);
    width: 75%;
}
.dropitem:nth-child(3) {
    border-bottom: none;
}
.dropitem:nth-child(1) {
    margin-top: 10px;
}
#drp:hover #dropdown {
    display: flex;
    
}
/* landing view styling */
#vegan {
    background: rgba(255, 255, 255, 0.781) url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png') no-repeat top center;
    background-size: 100vw 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#vegan > h1 {
    font: 600 44px 'poppins', sans-serif;
    letter-spacing: 8.8px;
    line-height: 1.2;
    width: 75%;
    text-align: center;
    margin-bottom: 26px;
}
#vegan > p {
    font: 400 14px 'poppins', sans-serif;
    letter-spacing: 0.5px;
    color: #8b8b99;
    width: 75%;
    text-align: center;
}

/* Step view styling */
#step-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: center;
}
.step1 {
    background-color: #5acda6;
    height: 90vh;
    width: 25%;
    padding: 150px 24px;
}
.step1 > i, .step2 > i, .step3 > i, .step4 > i {
    color: #fff;
    font-size: 96px;
    margin-bottom: 16px;
}
.step1 > h1, .step2 > h1, .step3 > h1, .step4 > h1 {
    color: #fff;
    font: 600 24px 'poppins', sans-serif;
    margin-bottom: 50px;
}
.step1 > p, .step2 > p, .step3 > p, .step4 > p {
    color: #fff;
    font: 400 14px 'poppins', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
.step2 {
    background-color: #91ac41;
    height: 90vh;
    width: 25%;
    padding: 150px 24px;
}
.step3 {
    background-color: #e4b476;
    height: 90vh;
    width: 25%;
    padding: 150px 24px;
}
.step4{
    background-color: #f69dad;
    width: 25%;
    height: 90vh;
    padding: 150px 24px;
}
.step1>i:hover, .step2>i:hover, .step3>i:hover, .step4>i:hover {
    transform: scale(1.08);
}

/* Store section styling */
#store{
    background-color: #f7eee2;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ff-desc>p {
    color: #91ac41;
    font: 300 24px 'caveat', cursive;
    font-family: cursive;
    margin: 0;
    margin-top: 70px;
}
.vtxt>h2 {
    font: 600 44px 'poppins', sans-serif;
}
.radtxt>p {
    font: 500 16px 'poppins', sans-serif;
    letter-spacing: 0.5px;
    color: #8b8b99;
    margin-top: 5px;
}
#circlecard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 50px 160px;
}
.veg {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.quality {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.sale {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.price {
    grid-area: 1/4/2/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.camera, .rocket, .bird, .chat {
    background-color: #e3b375;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
}
.camera:hover, .rocket:hover, .bird:hover, .chat:hover {
    transform: scale(1.05);
    box-shadow: inset -13px 13px 61px #e2b478, inset 13px -13px 61px #ffce87;
}
.camera>i, .rocket>i, .bird>i, .chat>i {
    color: #fff;
    font-size: 60px;
}
.veg>h3, .quality>h3, .sale>h3, .price>h3{
    font: 600 24px 'poppins', sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
}
.veg>p, .quality>p, .sale>p, .price>p {
    font: 500 16px 'poppins', sans-serif;
    letter-spacing: 0.5px;
    color: #8b8b99;
}

/* testimonial styling */
#testimonial{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.test-txt>p {
    color: #91ac41;
    font: 400 24px 'caveat', cursive;
    margin: 0;
    margin-top: 36px;
}
.test-h2>h2 {
    font: 600 44px 'poppins', sans-serif;
}
.test-desc {
    font: 500 16px 'poppins', sans-serif;
    color: #8b8b99;
    letter-spacing: 0.5px;
    width: 55%;
    text-align: center;
}

#test-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.card1, .card2, .card3 {
    background-color: #f5f6fb;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px 14px #ebeaea94, -5px -5px 14px #ffff;
}
.card1>img, .card2>img, .card3>img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.card1>p, .card2>p, .card3>p {
    text-align: center;
    font: 400 14px 'poppins', sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #8b8b99;
    margin-bottom: 24px;
}
.card1>h3, .card2>h3, .card3>h3 {
    font: 600 16px 'poppins', sans-serif;
}
.card1>p:nth-of-type(2), .card2>p:nth-of-type(2), .card3>p:nth-of-type(2) {
    font: 500 12px 'poppins', sans-serif;
    font-style: normal;
    margin-bottom: 0px;
}


@media (min-width:320px) and (max-width:700px) {
    * {
        box-sizing: border-box;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    #drp, .menu-item {
        display: none;
    }
    #vegan > h1 {
        width: 85%;
        letter-spacing: 1px;
    }
    #vegan > p {
        width: 100%;
        padding: 0 5px;
        letter-spacing: 0;
    }
    /* Step view */
    #step-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .step1, .step2, .step3, .step4 {
        width: 100%;
        padding: 150px 45px;
    }

    /* store styling */
    #store {
        text-align: center;
        height: auto;
    }
    #circlecard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .veg>p, .quality>p, .sale>p, .price>p {
        margin-bottom: 20px;
    }
    .veg>h3, .quality>h3, .sale>h3, .price>h3 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    /* testimonial styling */
    #testimonial {
        height: auto;
    }
    #test-cards {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
    }
    .card1, .card2, .card3 {
        width: 90%;
        max-width: 500px;
        margin: 12px 8px;
    }
    .card3 {
        margin-bottom: 24px;
    }
}

@media (min-width:700px) and (max-width:920px) {
    #step-view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .step1, .step2, .step3, .step4 {
        width: 100%;
        padding: 150px 45px; 
    }
    /* store styling */
    #store {
        height: auto;
    }
    #circlecard {
        gap: 30px;
        margin: 50px 40px;
    }
    /* testimonial styling */
    #testimonial {
        height: auto;
    }
    #test-cards {
        column-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card1, .card2, .card3 {
        width: 75%;
        min-width: 500px;
    }
    .card3 {
        margin-bottom: 24px;
    }
}
